.container {
    display: flex;
    margin-top: 10px;
}


.link {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    text-transform: capitalize;


}

@media (max-width:790px) {
    * {
        /* overflow: hidden; */
    }
}

body {
    overflow: scroll;
}